h1{
			color: #00FFFD;
		}
		img {
			height: 400px; 
			width: 400px;
		}
		#ThirdDiv{
			color: #00FFFD;
			background-color: blue;
			height: 600px;
			width: 500px;
			padding: 50px;
			border: 10px solid #00FFFD;
		}
		#spanId{
			font-size: 18px;
			margin: 50px;
		}
}